*{
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: rgb(14, 196, 193);
}

h2{
    color: #ff0084;
    text-transform: uppercase;
}

